<div class="container">
  <div class="navbar">
    <a routerLink="signin"><button id="signin">Signin</button></a>
    <a routerLink="signup"><button id="signup">Signup</button></a>
  </div>
  <div class="content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae praesentium tempora veritatis iure adipisci? Laboriosam, earum accusantium nulla quam perferendis, sit impedit temporibus eos ipsa cupiditate ipsum odio autem nesciunt, distinctio eaque? Rerum quidem praesentium quisquam corrupti voluptatum eveniet, laborum deserunt dicta voluptates nam nostrum consequuntur non dolor illo vero quod reiciendis necessitatibus suscipit consequatur! Reiciendis animi saepe perspiciatis, natus veniam ut tempora laudantium, vel dicta, laboriosam officiis nesciunt commodi incidunt deleniti minima nostrum? Adipisci omnis nostrum quam consequatur iste officiis velit dolore porro eaque accusamus autem optio, placeat modi ratione repudiandae voluptatum, eius sed quia impedit, ut nemo quis.</p>
  </div>
</div>