<div class="Notes-container">
  <div
    class="note"
    *ngFor="let data of notesData"
    data-id="{{ data._id }}"
    (click)="openDialog(data._id,data.title,data.description)"

  >
    <div class="title">{{ data.title }}</div>
    <div class="description">{{ data.description }}</div>
    <button (click)="$event.stopPropagation()" 
      class="icon-button pin"
      matRipple
      [matRippleCentered]="true"
      [matRippleDisabled]="false"
      [matRippleUnbounded]="true"
      [matRippleRadius]="22"
      [matRippleColor]="'#11111110'"
    >
      <i class="fa-regular fa-thumbtack"></i>
    </button>
  </div>
</div>
