<div class="addNote-container">
    <!-- [ngStyle]="{'display': isAddNoteClicked ? 'block' : 'none'}" -->
    <form [formGroup]="addnoteForm" (ngSubmit)="onAddNote()" class="addNote" (appOutsideClick)="outsideClick($event)">
      <div class="title-container">
        <textarea
          id="title"
          (click)="toggleAddNote()"
          spellcheck="false"
          autocomplete="off"
          placeholder="Add new Note"
          textarea-autoresize

      class="form-control"
      formControlName="title"
      name="title"
        ></textarea>
      </div>
      <div class="description-container" *ngIf="show">
        <textarea
          id="description"
          spellcheck="false"
          autocomplete="off"
          placeholder="Description"
          textarea-autoresize

      class="form-control"
      formControlName="description"
      name="description"
        ></textarea>
      </div>
      <div class="actionBtns" *ngIf="show">
        <div class="icons">
          <button
            class="icon-button"
            matRipple
            [matRippleCentered]="true"
            [matRippleDisabled]="false"
            [matRippleUnbounded]="true"
            [matRippleRadius]="22"
            [matRippleColor]="'#1111110D'"
          >
            <i class="fa-regular fa-bell-plus"></i>
          </button>
          <button
            class="icon-button"
            matRipple
            [matRippleCentered]="true"
            [matRippleDisabled]="false"
            [matRippleUnbounded]="true"
            [matRippleRadius]="22"
            [matRippleColor]="'#1111110D'"
          >
            <i class="fa-regular fa-palette"></i>
          </button>
          <button
            class="icon-button"
            matRipple
            [matRippleCentered]="true"
            [matRippleDisabled]="false"
            [matRippleUnbounded]="true"
            [matRippleRadius]="22"
            [matRippleColor]="'#1111110D'"
          >
            <i class="fa-solid fa-rotate-left"></i>
          </button>
          <button
            class="icon-button"
            matRipple
            [matRippleCentered]="true"
            [matRippleDisabled]="false"
            [matRippleUnbounded]="true"
            [matRippleRadius]="22"
            [matRippleColor]="'#1111110D'"
          >
            <i class="fa-solid fa-rotate-right"></i>
          </button>
        </div>
        <div>
          <button
          class="Button"
            type="submit"
            matRipple
            [matRippleCentered]="false"
            [matRippleDisabled]="false"
            [matRippleUnbounded]="false"
            [matRippleRadius]="22"
            [matRippleColor]="'#1111110D'"
           >
            Add
        </button>
          <button
          class="Button"
            (click)="toggleAddNote()"
            matRipple
            [matRippleCentered]="false"
            [matRippleDisabled]="false"
            [matRippleUnbounded]="false"
            [matRippleRadius]="22"
            [matRippleColor]="'#1111110D'"
          >
            Close
      </button>
        </div>
      </div>
    </form>
</div>
<div class="Notes-container">
  <div
    class="note"
    *ngFor="let data of notesData"
    data-id="{{ data._id }}"
    (click)="openDialog()"

  >
    <div class="title">{{ data.title }}</div>
    <div class="description">{{ data.description }}</div>
    <button (click)="$event.stopPropagation()" 
      class="icon-button pin"
      matRipple
      [matRippleCentered]="true"
      [matRippleDisabled]="false"
      [matRippleUnbounded]="true"
      [matRippleRadius]="22"
      [matRippleColor]="'#1111110D'"
    >
      <i class="fa-regular fa-thumbtack"></i>
    </button>
  </div>
</div>
