<form class="signup-box" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <span class="info">Sign Up</span>
  <mat-form-field appearance="outline">
    <mat-label>Enter your Name</mat-label>
    <input
      id="name"
      matInput
      type="text"
      class="form-control"
      formControlName="name"
      name="name"
    />
    <mat-error *ngIf="fc.name.errors?.required">Name is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter your email</mat-label>
    <input
      id="email"
      matInput
      placeholder="pat@example.com"
      type="email"
      class="form-control"
      formControlName="email"
      name="email"
    />
    <mat-error *ngIf="fc.email.errors?.required">Email is required</mat-error>
    <mat-error *ngIf="fc.email.errors?.email">Enter valid email</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
    <input
      id="password"
      matInput
      [type]="hide ? 'password' : 'text'"
      class="form-control"
      formControlName="password"
      name="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="fc.password.errors?.required"
      >Password is required</mat-error
    >
    <mat-error *ngIf="fc.password.errors?.pattern"
      >Password must contain one Uppercase, Lowercase, Number and Special
      charater</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Confirm password</mat-label>
    <input
      type="password"
      id="confirmPassword"
      matInput
      class="form-control"
      formControlName="confirmPassword"
      name="confirmPassword"
    />
    <mat-error *ngIf="fc.confirmPassword.errors?.required"
      >Confirm password is required</mat-error
    >
    <mat-error *ngIf="fc.confirmPassword.errors?.passwordMismatch"
      >Password does not matched</mat-error
    >
  </mat-form-field>

  <button type="submit" mat-flat-button color="primary">Signup</button>
  <a routerLink="../signin" class="signup">Already have account</a>
</form>
