<div class="container">
  <div class="head">
    <img src="assets/checklist.png" alt="could not load image" />
  </div>
  <div class="main">
    <span class="title">Verified!</span>
    <br />
    <span class="content">
     You have successfully Verified your account.
    </span>
  </div>
    <button matRipple
    [matRippleCentered]="false"
    [matRippleDisabled]="false"
    [matRippleUnbounded]="false"
    [matRippleRadius]="25"
    [matRippleColor]="'#1111110D'"
    >Go to Dashboard</button>
</div>
