<div class="container">
  <div class="head">
    <img src="assets/forgot-password.png" alt="could not load image" />
  </div>
  <div class="main">
    <span class="title">Forgot password?</span>
    <span class="info">No worries, we'll send you reset instructions.</span>
    
  </div>
  <form class="forgetPasswordForm" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
    <label for="email">Email</label>
      <input type="email" name="email" id="email"  placeholder="Enter your email" 
    class="form-control"
    formControlName="email">
    <mat-error *ngIf="fc.email.errors?.required && fc.email.touched">Email is required.</mat-error>
    <mat-error *ngIf="fc.email.errors?.email">Enter valid email.</mat-error>
    <button type="submit" id="submit"
    matRipple
    [matRippleCentered]="false"
    [matRippleDisabled]="false"
    [matRippleUnbounded]="false"
    [matRippleRadius]="85"
    [matRippleColor]="'#1111110D'">Reset password</button>
  </form>
    <button class="footer"
      matRipple
      [matRippleCentered]="false"
      [matRippleDisabled]="false"
      [matRippleUnbounded]="false"
      [matRippleRadius]="85"
      [matRippleColor]="'#1111110D'" routerLink="../signin"><i class="fa-solid fa-arrow-left"></i>Back to log in</button>
      
</div>
