html {
  background: #111111e8;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  width: 35%;
  min-width: 400px;
  padding: 10px;
  color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 65%;
  .head {
    width: 15%;
    height: fit-content;
    margin: 25px 0px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .main {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;

    .title {
      font-size: 1.5rem;
      font-weight: 600;
      margin: 10px 0px;
    }
    .content {
      margin: 5px 0px;
    }
  }
  .forgetPasswordForm {
    display: flex;
    flex-direction: column;
    width: 32%;
    position: relative;
    margin: 20px 0px;
    align-items: center;
    min-width: 225px;
    label[for=email]
    {
      font-size: .8rem;
      font-weight: 500;
        align-self: start;
        margin-left: 2px;
    }
    #email {
      width: calc(100% - 11px);
      height: 35px;
      border: 3px solid gainsboro;
      align-self: start;
      border-radius: 8px;
      padding: 0px 5px;
    }
    #email:focus-visible {
      outline: none;
    }
    #submit {
      border: none;
      width: 100%;
      height: auto;
      border-radius: 8px;
      background-color: #ffc049;
      font-size: 0.9rem;
      padding: 5px 10px;
      margin-top: 5px;
    }
    mat-error {
      font-size: .8rem;
      background: rgba(255, 0, 0, 0.1);
      padding: 2px;
      margin: 2px;
      margin-bottom: 2px;
      height: auto;
      width: 80%;
      margin-bottom: 5px;
      align-self: start;
    }
  }
}
button.footer {
  color: #111111e8;
  border: none;
  background: none;
  padding: 5px 10px;
  margin-top: 25px;
  i {
    padding: 0px 10px;
  }
}
