<div class="container">
  <div class="head">
    <img src="assets/reset-password.png" alt="could not load image" />
  </div>
  <div class="main">
    <span class="title">Reset password</span>
    <span class="info">Your new password must be different<br>from previously used passwords.</span>
    
  </div>
  <form class="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <label for="password">Password</label>
      <input type="password" name="password" id="password"  placeholder="Password" 
    class="form-control"
    formControlName="password">
    <mat-error *ngIf="fc.password.errors?.required && fc.password.touched">Password is required.</mat-error>
    <mat-error *ngIf="fc.password.errors?.pattern">Password must contain minimum 8 characters<br>
      one uppercase letter<br>one lowercase letter<br>one number and<br>one special charater(@#$).</mat-error>
    <label for="confirmPassword">Confirm password</label>
      <input type="password" name="confirmPassword" id="confirmPassword"  placeholder="Confirm password" 
    class="form-control"
    formControlName="confirmPassword">
    <mat-error *ngIf="fc.confirmPassword.errors?.required && fc.confirmPassword.touched">Confirm password is required.</mat-error>
    <mat-error *ngIf="fc.confirmPassword.errors?.passwordMismatch">Password did not matched.</mat-error>
    <button type="submit" id="submit"
    matRipple
    [matRippleCentered]="false"
    [matRippleDisabled]="false"
    [matRippleUnbounded]="false"
    [matRippleRadius]="85"
    [matRippleColor]="'#1111110D'">Reset password</button>
  </form>
    <button class="footer"
      matRipple
      [matRippleCentered]="false"
      [matRippleDisabled]="false"
      [matRippleUnbounded]="false"
      [matRippleRadius]="85"
      [matRippleColor]="'#1111110D'" routerLink="../signin"><i class="fa-solid fa-arrow-left"></i>Back to log in</button>
      
</div>
